body {
  font-family: 'Didact Gothic', sans-serif;
  margin-top: 0;
}

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
}

.home {
  font-size: 30px;
}

h4 {
  font-weight: 200;
  font-size: 35px;
  align-self: flex-start;
  margin-top: 120px;
  margin-left: 60px;
}

.wholeScreen {
  margin-top: -50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.visualization {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}
